.base {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.baseinside {
    width: 80%;
    height: 100%;
    text-align: center;
<<<<<<< HEAD
=======
    margin-bottom: 4%;
    margin-top: 3%;
>>>>>>> IVIKA
}

.picture {
    display: inline-block;
    width: 30%;
    height: 0;
    margin: 3px;
    padding-bottom: 20%; 
}

.imginside {
    max-width: 100%;
    max-height: fit-content;
<<<<<<< HEAD
=======
    transition: 0.3s all ease-in-out;
}


.imgwrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.imgtext {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    color: white;
    top: 70%;
    text-align: center;
    transition: 0.3s, opacity .2s, visibility 0.3s;
    font-family: 'Candal', sans-serif;
    font-size: 140%;
}

.imgwrap:hover .imgtext {
    visibility: visible;
    opacity: 1;
    transform: scale(1.2);
    transition: 0.3s all ease-in-out;
    z-index:3;
    
}

.imginside:hover {
    transform: scale(1.2);
    filter: brightness(80%);
    z-index:3;
>>>>>>> IVIKA
}