.pilt {
    margin-left: 30%;
    margin-right:30%;
}

img{
    width: 100%;
    height: auto;
}


h2{
    padding-top: 1%;
    padding-bottom: 1%;
    color: #2B262D;
    font-size: 200%;
    font-family: 'Montserrat', sans-serif;
    
}

.suurem {
    font-family: 'Candal', sans-serif;
    font-size: 110%;
}

