html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.taustü {
    background-color: #647295;
}

.tavatekst {
    background-color: #f2ebe5;
    color: #2B262D;
    font-size: 110%;
    font-family: 'Montserrat', sans-serif;
    padding-left:10%;
    padding-right: 10%;
    padding-top: 4%;
    padding-bottom: 5%;
    line-height: 2;
    text-align: justify;
}

h5{
    text-align: center;
    color: #2B262D;
    font-size: 300%;
    letter-spacing: 3px;
}

.headerfont {
    font-family: 'Candal', sans-serif;
}

mark{
    background-color:#ebc1ec;
}




